button {
  background-color: rgb(80, 80, 235);
  border: 2px solid black;
  border-radius: 8px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
button:active {
  background-color: red;
}

.listOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative; /* Встановлюємо позицію відносно feedbackList */
  margin-bottom: 20px;
}
